# Eclipse specific #
*/.settings/
.settings
*/bin/
*/build/
*/resources/
*.txt
.metadata/*
/bin
*/Debug/
build.properties
build.xml

# FRC Deploy #
sysProps.xml

# Mac OS X folder config#
.DS_Store
.DS_Store/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
